[submodule "APCS"]
	path = APCS
	url = https://github.com/shaan97/APCS.git
[submodule "CS31"]
	path = CS31
	url = https://github.com/shaan97/CS31.git
[submodule "CS32"]
	path = CS32
	url = https://github.com/shaan97/CS32.git
[submodule "CS33"]
	path = CS33
	url = https://github.com/shaan97/CS33.git
[submodule "CS35L"]
	path = CS35L
	url = https://github.com/shaan97/CS35L.git
[submodule "CSM51A"]
	path = CSM51A
	url = https://github.com/shaan97/CSM51A.git
[submodule "CS111"]
	path = CS111
	url = https://github.com/shaan97/CS111.git
[submodule "CSM152A"]
	path = CSM152A
	url = https://github.com/shaan97/CSM152A.git

[submodule "CS131"]
	path = CS131
	url = https://github.com/shaan97/CS131.git
